{% extends 'base.html' %}
{% block title %}Education{% endblock title %}
 
{% block body %} 

<div class="container-fluid">
    <div class="card bg-dark text-white">
        <img src="https://images.unsplash.com/photo-1419640303358-44f0d27f48e7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1085&q=80" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Computer Science and Engineering [B.E]</h5>
          <p class="card-text">I am pursuing my Computer science & Engineering Degree from Government Engineering College,Dahod</p>
          <p class="card-text">Duration - 2019-2023</p>
          <p class="card-text">CGPA : 7.77 / 10.00</p>
          
        </div>
      </div>

      <div class="card bg-dark text-white">
        <img src="https://images.unsplash.com/photo-1514593214839-ce1849100055?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Class - 12 [HSC]</h5>
          <p class="card-text">I have completed my Class 12 [Science] from Narayan Vidhyalaya,Vadodara</p>
          <p class="card-text">Duration : 2018-2019 </p>
          <p class="card-text">Percentage - 84%</p>
        </div>
      </div>

      <div class="card bg-dark text-white">
        <img src="https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Class - 10 [SSC]</h5>
          <p class="card-text">I have done my Class -10 from New Heaven Vidhayalya,Vadodara</p>
          <p class="card-text">Duration : 2016-2017</p>
          <p class="card-text">Percentage - 81%</p>
        </div>
      </div>
</div>
{% endblock body %}