{% extends 'base.html' %}
{% block title %}Work{% endblock title %}
 
{% block body %} 
<div class="container">
    <div class="card bg-dark text-white my-4">
        <img src="https://images.unsplash.com/photo-1504805572947-34fad45aed93?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img" alt="...">
        <div class="card-img-overlay">
            
          <h5 class="card-title">Brainy-Beam Technologies
             </h5>
             <h6 class="card-title">Web Developer Intern [June 2022- July 2022]
            </h6>

          <p class="card-text">• During my internship, I learned about the application of many engineering principles and methods.
            The real-world applications of these principles are used in the vast majority of projects. Specifically, we
            use DBSQlite for database management, form front-end using Bootstrapping, and web development using
            Python and Django.</p>
          
        </div>
      </div>
</div>
{% endblock body %}